<!doctype html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ project_title }} by {{ owner_name }}</title>
    {% include head-custom.html %}
    <script>var whTooltips = {colorLinks: false, iconizeLinks: true, renameLinks: true};</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
  </head>
  <body>
      <div id="header">
        <h1>Наставления по ч0рному храму</h1>

        <a href="/BT_guide">Начало</a> |
        <a href="/BT_guide/Things_for_raid">Химия</a> |
        <a href="/BT_guide/BT_Map">Карта</a> |
        <a href="/BT_guide/Najentus">Надж'ентус</a> |
        <a href="/BT_guide/Supremus">Супремус</a> |
        <a href="/BT_guide/Ten'Akami">Тень Акамы</a> |
        <a href="/BT_guide/Teron">Терон Кровожад</a> |
        <a href="/BT_guide/RoS">Реликварий душ</a> |
        <a href="/BT_guide/Gurtog">Гуртогг Кипящая Кровь</a> |
        <a href="/BT_guide/mama">Матушка Шахраз</a> |
        <a href="/BT_guide/">Совет иллидари</a>
        <a href="/BT_guide/">Иллидан Ярость Бури</a>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        {{ content }}
      </section>
      
      <section>
        <div id="title">
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/mattgraham">mattgraham</a></span>
        </div>
      </section>

    </div>
  </body>
</html>
